.header-footer {
    background-color: #1D5D9B;
}

.title-h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5rem;
    font-weight: normal;
}

.profile-img {
  height: 100px;
  border-radius: 50%; /* Making image circular */
}

.custom-text {
    font-family: 'Press Start 2P', cursive;
}

.nav-link {
  color: white;
}

hr {
    border: dotted #1D5D9B 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.flex-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}